body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #ffffff;
}

ul {
	list-style-type: none;
	overflow: hidden;
}


li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.card-deck .card {
  height: 320px;
}

#searchbar{
  padding-top: 3%;
}

#navbar{
  padding-top: 8vh !important;
}

/* configura footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e6e6e6;
  text-align: center;
}

/** barra de separação do footer **/
#after{
  content:"";
  position:absolute;
  top:20%;
  right:54.6%;
  width:2px;
  height:60%;
  background: #a6a6a6;
}
#after2{
  content:"";
  position:absolute;
  top:20%;
  right:41.2%;
  width:2px;
  height:60%;
  background: #a6a6a6;
}
/* fim do footer */

/* media das cards */
@media (min-width: 0) {
    .card-deck .card {
      flex: 0 0 calc(100% - 30px);
    }
  }
  @media (min-width: 576px) {
    .card-deck .card {
      flex: 0 0 calc(50% - 30px);
    }
  }
  @media (min-width: 768px) {
    .card-deck .card {
      flex: 0 0 calc(33.3333333333% - 30px);
    }
  }
  @media (min-width: 992px) {
    .card-deck .card {
      flex: 0 0 calc(25% - 30px);
    }
  }
  @media (min-width: 1200px) {
    .card-deck .card {
      flex: 0 0 calc(20% - 30px);
    }
  }
/* fim do card */













